button {
    background-color: #1a1a1a;
    border: none;
    border-radius: 6px;
    transition: background 0.3s;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

button a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 12px 30px;
    font-weight: 600;
}
